# Chat Gpt 함수문제

##문제 1: 인사말 함수
- 주어진 이름을 받아 "Hello, [이름]!" 라고 인사하는 함수를 작성하세요.

In [ ]:
def greet(name):
    print(f"hello, {name}")


greet("남민우") # 문자열 함수라 "" 사용해야함

hello, 남민우

## 문제 2: 두 수의 합 함수
- 두 개의 숫자를 받아 그 합을 반환하는 함수를 작성하세요

In [ ]:
def add_numbers(a, b):
    print(f"{a+b}")


add_numbers(4,2)

6

문제 3: 리스트 합계 함수
숫자 리스트를 받아 리스트의 모든 요소의 합을 반환하는 함수를 작성하세요.

In [ ]:
def sum_list(numbers):
    print(f"{sum(numbers)}")
    print(sum(numbers))

sum_list([1,2,3])

6
6

문제 4 : 문자열 길이함수

In [ ]:
def string_length(s):
    print(len(s))


    return

string_length("Game")

4

# 문제 5: 리스트 최대값 함수

In [ ]:
def max_in_list(numbers):
    print(max(numbers))

    return

max_in_list([1,2,3])

3

# 초보자를 위한 파이썬  예제문제(함수)

In [ ]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
# 내 답안 : 출력 A, C, B , E, D

A
C
B
E
D

In [ ]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# 내 답안 : B, A

B
A

In [ ]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) : # 3번 반복한다는 뜻?
        message2()
        print("C")
    message1()

message3()

# 내 답안, BCBCBC,A

B
C
B
C
B
C
A

In [ ]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
# 내답안 : 안녕

안녕
Hi

In [ ]:
def 함수(a, b) :
    print(a + b)

함수(3, 4) # 7
함수(7, 8) # 15

7
15

In [ ]:
def 함수(문자열) :
    print(문자열)
 # 에러가 발생한 이유는 정의한 함수에 파라미터를 입력하지않아서이다.

In [ ]:
# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는print_with_smile 함수를 정의하라.


def print_with_smile(text): # 파라미터를 제대로 설정 해야함
  print(text +":D")
  return


print_with_smile("엄마")

엄마:D

In [ ]:
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

print_max(3,1,2)

3

In [ ]:
def print_reverse(text):
  print(text[::-1]) # 인덱스 기능을 이용함

print_reverse("python")

nohtyp

In [ ]:
def print_score(score):
  score = sum(score) / len(score)
  print(score)
  return
print_score ([1, 2, 3])

2.0

In [ ]:
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

# 내가 짠 코드
def print_keys(dict):
  dict2 = dict.keys()
  print(dict2)
  return
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

# 답안 코드
def print_keys(dic):
    for keys in dic.keys():
        print(keys)
        return
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

dict_keys(['이름', '나이', '성별'])
이름
나이
성별

In [ ]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

def print_value_by_key(dict, key):
    print(dict[key])  # 딕셔러리 형은 키값을 입력시 벨류 (값)으로 프린트됨.
    return

print_value_by_key  (my_dict, "10/26")

[10, 12, 10, 11]

In [ ]:
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

def print_5xn(string):
  adr = string[:5]
  for i in range(len(adr)) :
    print(adr[i] + " ")
  return

print_5xn("아이엠어보이유알어걸")

아
이
엠
어
보

## all() 함수
 주어진 iterable의 모든 요소가 참(truthy)인지 확인합니다. 만약 모든 요소가 참이면 True를 반환하고, 그렇지 않으면 False를 반환합니다.

## any() 함수
 주어진 iterable의 요소 중 하나라도 참인 것이 있는지 확인합니다. 만약 하나라도 참이면 True를 반환하고, 모든 요소가 거짓이면 False를 반환합니다.

In [ ]:
# all 함수 예제
numbers = [1, 2, 3, 4, 5]
all_positive = all(n > 0 for n in numbers)
print(all_positive)  # True

numbers = [1, -2, 3, 4, 5]
all_positive = all(n > 0 for n in numbers)
print(all_positive)  # False

In [5]:
# all 함수 문제
def are_all_positive(numbers):
    return all(map(lambda x: x > 0, numbers)) # map 함수를 사용하여 각 요소가 0보다 큰지 확인하는 람다 함수를 적용

# 예제 테스트
print(are_all_positive([1, 2, 3, 4, 5]))  # True
print(are_all_positive([1, -2, 3, 4, 5]))  # False

True
False

In [ ]:
# any 함수 예제
numbers = [1, 3, 5, 7, 8]
has_even = any(n % 2 == 0 for n in numbers)
print(has_even)  # True

numbers = [1, 3, 5, 7]
has_even = any(n % 2 == 0 for n in numbers)
print(has_even)  # False

# any 함수 문제
def has_long_word(words):
    return any(map(lambda word: len(word) >= 5, words))

# 예제 테스트
print(has_long_word(["apple", "dog", "cat"]))  # True
print(has_long_word(["dog", "cat", "sun"]))  # False

## chr()
 - 정수를 인수로 받아 그에 해당하는 유니코드 문자를 반환합니다.

In [6]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65) # 출력: 'A'
chr(97) # 출력: 'a'
chr(54616) # 출력: '하'

'하'

## ord()
- 단일 문자를 인수로 받아 그 문자의 유니코드(또는 ASCII 코드) 값을 반환합니다

In [ ]:
# 문자를 입력하면 유니코드에서 숫자로 출력합니다.
ord('a') # 출력: 97
ord('하') # 출력: 54616

## map()
- 함수는 기존의 리스트(또는 튜플)의 모든 요소에 특정 함수를 적용한 결과를 map 객체 형태로 반환하는 함수입니다. map 객체는 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [ ]:
map(함수, 리스트 혹은 튜플)

In [7]:
# map 함수 기본문제

numbers = [1, 2, 3, 4, 5] # 리스트를 정의
result = list(map(lambda x: x**2, numbers)) # x 는 리스트의 요소
print(result)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

## filter()
- filter() 함수는 순회할 수 있는 객체의 요소 중 특정 조건을 만족하는 요소만을 선택하여 반환합니다. 반환 값은 filter 객체 형태로 제공되며, 이를 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [ ]:
filter(조건 함수, 리스트 또는 튜플)

- 조건 함수는 각 요소를 입력으로 받아 True 또는 False 값을 반환합니다. filter() 함수는 True를 반환하는 요소만 선택하여 결과로 반환합니다.해당 예제에서는 0부터 99까지의 숫자 중에서 50보다 큰 숫자만을 선택하여 리스트로 반환하도록 했습니다.

In [ ]:
list(filter(lambda x : x > 50, range(100)))

In [ ]:
# Chat GPT 예제

def is_even(num): # is_even 함수 설정과  num 파라미터 설정
    return num % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(is_even, numbers)) # filter(조건 함수, 리스트 또는 튜플)

print(even_numbers)  # 출력: [2, 4, 6, 8, 10]

## zip
-  함수는 여러 개의 순회할 수 있는 객체의 요소를 묶어서 반환합니다. 다만 메모리의 효율을 위해 형변환이나 직접 순회를 하기 전까지는 메모리 주소로만 반환합니다

In [ ]:
list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]

In [8]:
names = ["Alice", "Bob", "Charlie"] # 리스트1
ages = [24, 30, 28]  # 리스트2
scores = [85, 92, 78] # 리스트 3

# zip을 이용하여 각 리스트의 같은 인덱스 요소들을 묶기
combined = list(zip(names, ages, scores))

print(combined)

[('Alice', 24, 85), ('Bob', 30, 92), ('Charlie', 28, 78)]